<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
		<title>{{name}}</title>
	  	<meta name="description" content="{{description}}">
	  	<meta name="author" content="{{author}}">
		<link rel="stylesheet" href="style/app.css">
	</head>
	<body>
		<div id="game">
			&nbsp;hi
		</div>
		<footer> v{{version}} created by {{author}}</footer>
		<script src="js/{{name}}.{{version}}.min.js"></script>
	</body>
</html>
